<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.dao.UserDao">

	<select id="queryList" resultType="com.example.springbootdemo.entity.User">
		select * from public."user" 
s
	</select>

	<select id="query" resultType="com.example.springbootdemo.entity.User">
		select * from public."user" where id =#{id}

	</select>

	<delete id="delete" >
	delete from public.user where id=#{id}

	</delete>

	<update id="update" >
		UPDATE public."user"
		SET username=#{user.username}
		WHERE id="#{user.id}";

	</update>

</mapper>